<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>POKEDEX</title>
</head>
<body>

    <nav>
        <ul id="menu">
          
          <li><a href="#btnCadastrar">Cadastrar</a></li>
        </ul>
      </nav>
      <% if(mensagem != "") {  %>
        <section id="mensagem">
            <p><%= mensagem %></p> <span id="close">&times;</span>
        </section>
    <% }  %>

    <header>

    <h1>Pokedex</h1>

    </header>
    </ul>
<main>
    <section id="cards">

  <% pokedex.forEach((pokemon) =>{ %>

    <div class="card ">
        <h2><%= pokemon.Nome %></h2>
        <img src="<%= pokemon.Imagem%>" alt="">
        <p>Tipo: <%= pokemon.Tipo %></p>
        <a id="deta" href="/detalhes/<%= pokemon.Id %>">Detalhes</a>
    </div>

  <% }) %>

    </section>

<section>
  <h3 id="h3">Cadastre um novo pokemon</h3>
</section>

<section id="lista">
    
<form action="/add" method="POST">

<label for="Nome">Nome: </label>
<input type="text" id="Nome" name="Nome" required>

<label for="Imagem">Link da Imagem: </label>
<input type="text" id="Imagem" name="Imagem" required>

<label for="Tipo">Tipo: </label>
<input type="text" id="Tipo" name="Tipo" required>

<label for="Descricao">Descricao: </label>
<input type="text" id="Descricao" name="Descricao" required> 

<label for="Altura">Altura: </label>
<input type="text" id="Altura" name="Altura" required> 

<label for="Peso">Peso: </label>
<input type="text" id="Peso" name="Peso" required> 

<label for="Categoria">Categoria: </label>
<input type="text" id="Categoria" name="Categoria" required> 

<label for="Habilidade">Habilidade: </label>
<input type="text" id="Habilidade" name="Habilidade" required> 
<button id="btnCadastrar" type="submit">Cadastrar</button>

</form>
</section>
</main>
<footer>
  <p>
    <a href="http://www.blueedtech.com.br" target="_blank"
      >www.blueedtech.com.br</a
    >
    <br />-Todos os direitos reservados.
  </p>
</footer>

<script src="/js/script.js"></script>
</body>
</html>